#DentalChart{
	width: 100%;
	text-align: center;
}
#DentalChart .mainChartImg img{
	width: 300px;
	text-align: center;
	height: 450px;
}#DentalChart .nav-link{
	font-size: 24px;
    color: #38A7C4;
    font-weight: bold;
}#DentalChart .nav-link:focus{
	background-color: #24C8CE;
	color: #fff;
}#DentalChart .row {
   background-color: #E4EFEF;
}#DentalChart .done{
	margin-top: 10px;
	width: 40%;
}#DentalChart img{
	width: 25px;
	height: 25px;
}#DentalChart .Chart2{
	position: relative;
}#DentalChart .tooth1{
	position: absolute;
	top:150px;
	height: 35px;
	width: 35px;
	right: 32%;
}#DentalChart .tooth2{
	position: absolute;
	top:90px;
	height: 35px;
	width: 35px;
	right: 33%;
}#DentalChart .tooth3{
	position: absolute;
	top:58px;
	right: 37%;
	background-color: red;
}#DentalChart .tooth4{
	position: absolute;
	top:32px;
	right: 40%;
}
#DentalChart .tooth5{
	position: absolute;
	top:12px;
	right: 45%;
}#DentalChart .tooth6{
	position: absolute;
	top:12px;
	right: 51%;
}#DentalChart .tooth7{
	position: absolute;
	top:25px;
	right: 56%;
}#DentalChart .tooth8{
	position: absolute;
	top:50px;
	right: 60%;
}#DentalChart .tooth9{
	position: absolute;
	top:87px;
	height: 35px;
	width: 35px;
	right: 62%;
}#DentalChart .tooth10{
	position: absolute;
	top:150px;
	height: 35px;
	width: 35px;
	right: 65%;
}#DentalChart .tooth11{
	position: absolute;
	top:254px;
	height: 40px;
	width: 40px;
	right: 64%;
}#DentalChart .tooth12{
	position: absolute;
	top:320px;
	height: 35px;
	width: 35px;
	left: 34%;
}#DentalChart .tooth13{
	position: absolute;
	bottom:62px;
	height: 25px;
	width: 25px;
	left: 38%;
}#DentalChart .tooth14{
	position: absolute;
	bottom:38px;
	background-color: purple;
	height: 25px;
	width: 25px;
	left: 41%;
}#DentalChart .tooth15{
	position: absolute;
	bottom:22px;
	height: 25px;
	width: 25px;
	left: 46%;
}#DentalChart .tooth16{
	position: absolute;
	bottom:22px;
	height: 25px;
	width: 25px;
	left: 52%;
}#DentalChart .tooth17{
	position: absolute;
	bottom:38px;
	height: 25px;
	width: 25px;
	left: 57%;
}#DentalChart .tooth18{
	position: absolute;
	bottom:68px;
	height: 25px;
	width: 25px;
	left: 61%;
}#DentalChart .tooth19{
	position: absolute;
	bottom:98px;
	height: 35px;
	width: 35px;
	right: 32%;
}#DentalChart .tooth0{
	position: absolute;
	bottom:158px;
	height: 35px;
	width: 35px;
	right: 30%;
}.patientInfo .form-group .red{
	color: red;
}.patientInfo .form-group .green{
	color: green;
}.patientInfo .form-group .blue{
	color: blue;
}.patientInfo .form-group .yellow{
	color: yellow;
}.patientInfo .form-group .Purple{
	color: purple;
}.patientInfo .form-group svg{
	margin-right: 10px;
	font-size: 18px;
	margin-left: 2px;
}

/*Adult Chart*/
#DentalChart #toothD1{
	position: absolute;
	top:46%;
	height: 30px;
	width: 30px;
	right: 31%;
}
#DentalChart #toothD2{
	position: absolute;
	top:41%;
	height: 25px;
	width: 25px;
	right: 31%;
}#DentalChart #toothD3{
	position: absolute;
	top:36%;
	height: 25px;
	width: 25px;
	right: 32%;
}
#DentalChart #toothD4{
	position: absolute;
	top:31.5%;
	height: 25px;
	width: 25px;
	right: 34%;
}#DentalChart #toothD5{
	position: absolute;
	top:26.5%;
	height: 23px;
	width: 23px;
	right: 35.5%;
}#DentalChart #toothD6{
	position: absolute;
	top:23%;
	height: 23px;
	width: 23px;
	right: 38%;
}#DentalChart #toothD7{
	position: absolute;
	top:20%;
	height: 23px;
	width: 23px;
	right: 41%;
}#DentalChart #toothD8{
	position: absolute;
	top:18.5%;
	height: 23px;
	width: 23px;
	right: 45.5%;
}#DentalChart #toothD9{
	position: absolute;
	top:18.5%;
	background-color: blue;
	height: 23px;
	width: 23px;
	right: 50.5%;
}#DentalChart #toothD10{
	position: absolute;
	top:20%;
	height: 23px;
	width: 23px;
	left: 41.5%;
}#DentalChart #toothD11{
	position: absolute;
	top:23%;
	height: 25px;
	width: 25px;
	left: 38%;
}#DentalChart #toothD12{
	position: absolute;
	top:26.5%;
	height: 25px;
	width: 25px;
	left: 35.5%;
}#DentalChart #toothD13{
	position: absolute;
	top:31%;
	height: 27px;
	width: 27px;
	left: 33.5%;
}#DentalChart #toothD14{
	position: absolute;
	top:36%;
	height: 27px;
	width: 27px;
	left: 32%;
}#DentalChart #toothD15{
	position: absolute;
	top:41%;
	height: 27px;
	width: 27px;
	left: 31.5%;
}#DentalChart #toothD16{
	position: absolute;
	top:46%;
	height: 27px;
	width: 27px;
	left: 31.5%;
}#DentalChart #toothD17{
	position: absolute;
	bottom:40%;
	height: 27px;
	width: 27px;
	left: 31.5%;
}#DentalChart #toothD18{
	position: absolute;
	bottom:34.5%;
	height: 27px;
	width: 27px;
	left: 31.5%;
}#DentalChart #toothD19{
	position: absolute;
	bottom:28%;
	height: 30px;
	width: 30px;
	left: 32.5%;
}#DentalChart #toothD20{
	position: absolute;
	bottom:23%;
	height: 27px;
	width: 27px;
	left: 35%;
}#DentalChart #toothD21{
	position: absolute;
	bottom:19%;
	height: 27px;
	width: 27px;
	left: 37.5%;
}#DentalChart #toothD22{
	position: absolute;
	bottom:16.5%;
	height: 20px;
	width: 20px;
	left: 40.5%;
}#DentalChart #toothD23{
	position: absolute;
	bottom:14%;
	height: 20px;
	width: 20px;
	left: 43.5%;
}#DentalChart #toothD24{
	position: absolute;
	bottom:13.5%;
	background-color:yellow;
	height: 18px;
	width: 18px;
	left: 47.5%;
}#DentalChart #toothD25{
	position: absolute;
	bottom:13.5%;
	height: 18px;
	width: 18px;
	left: 51%;
}#DentalChart #toothD26{
	position: absolute;
	bottom:14.5%;
	height: 18px;
	width: 18px;
	right: 43.5%;
}#DentalChart #toothD27{
	position: absolute;
	bottom:16.5%;
	height: 18px;
	width: 18px;
	right: 40%;
}#DentalChart #toothD28{
	position: absolute;
	bottom:19.5%;
	height: 25px;
	width: 25px;
	right: 37%;
}#DentalChart #toothD29{
	position: absolute;
	bottom:23.5%;
	height: 25px;
	width: 25px;
	right: 35%;
}#DentalChart #toothD30{
	position: absolute;
	bottom:28%;
	height: 29px;
	background-color: red;
	color: red;
	width: 25px;
	right: 32.5%;
}#DentalChart #toothD31{
	position: absolute;
	bottom:34.5%;
	height: 25px;
	width: 25px;
	right: 31.5%;
}#DentalChart #toothD0{
	position: absolute;
	bottom:40%;
	height: 22px;
	width: 22px;
	right: 31%;
}