.dentistProfile header{
	background-color: #090667;
	margin-left: 0;
	text-align: center;
}.dentistProfile .input-group{
	margin-top: 10px;
}.dentistProfile button{
	margin-top: 10px;
	border-radius: 100px;
	background-color: #41AE8D;
}

/*HomeDentist*/
.homeDentist .linksSide{
	padding: 20px;
	background-color: #BFF8EE;
	font-style: italic;
	font-size: 20px;
}.homeDentist .linksSide img{
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
	border-radius: 50%;
}.homeDentist .linksSide a{
	color: #53107E;
}.homeDentist .linksSide a:focus{
	color:#AE9841; 
	font-weight: bold;
}.homeDentist  a:hover{
	color:#AE9841; 
	font-weight:normal;
}
.homeDentist .linksSide button{
	border: none;
	background: none;
	padding: 10px;
	color: #53107E;
}.homeDentist .linksSide .edit{
	text-align: center;
}.homeDentist .linksSide ul li {
	list-style: none;
	font-size: 20px;
	color: #090667;	
}.homeDentist .linksSide  svg {
	margin-right: 10px;
}.homeDentist .col-md-9{
	background-color: #69d4ce;
}


/*HomeProfile*/
.HomeProfile h1{
	color: #53107E;
	margin-top: 10px;
	padding: 10px;
	background-color:#9FE3D1;
	width: 400px; 
	text-align: center;
}
.HomeProfile .TotalPat{	
	text-align: center;
	background-color: #9FE3D1;
	padding: 5px;
	color: #53107E;
	height: 160px;
}.HomeProfile .TotalPat button{
	background-color:#53107E;
	border-radius: 100px;
	color: #fff;
	margin-top: 5px;
}.HomeProfile .table{
	margin-top: 20px;
	width: 100%;
	padding: 10px;
	color: #53107E;
	font-size: 18px;
	background-color: #9FE3D1;
}.HomeProfile .table h4{
	font-weight: bold;
	font-style: italic;
	margin-bottom: 20px;
}.HomeProfile .table .col-md-3{
	background-color: #19C7C7;
	margin-bottom: 10px;
	padding-right: 10px;
	font-size: 18px;
}.HomeProfile .row svg{
	height: 100px;
	width: 100%;
	opacity: 0.4;
}.HomeProfile .tableHeader{
	font-size: 24px;
	font-weight: bold;
	background-color: #E6F2EF;
	margin-right: 3px;
	margin-left: 1px;
}.HomeProfile .tableHeader .col-md-3{
		background-color: #E6F2EF;

}#addPatientDiv{
	display: none;
	overflow-y: scroll;
	height: 350px;
}
.HomeProfile .allItems{
	overflow-y: scroll;
	height: 150px;

}.addPatient{
	overflow-y: scroll;
	height: 300px;
}
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
/*Edit Dentist Profile*/
.EditProfile img{
    width: 150px;
	height: 150px;
	border-radius: 50%;
}.EditProfile  h3{
	color: #53107E;
	background-color: #E6F2EF;
	padding: 10px;
	margin-top: 10px;
}
.EditProfile .divImg{
	text-align: center;

}.EditProfile form .row .col-md-5{
	background-color: #9FE3D1;
	padding-top: 10px;
}.EditProfile form .row{
	padding: 20px;
	margin-left: 20px;
}
.EditProfile{
	height: 500px;
	overflow-y: scroll;

}.EditProfile .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
    border-radius:40%;
}.inputfile:focus + label,.inputfile + label:hover {
   color: #731A92;
}.inputfile + label {
	cursor: pointer; /* "foucsand" cursor */
}.EditProfile label{
	color: #53107E;
	font-weight: bold;
}.EditProfile .row .col-md-5 input{
	color:#111;
	background-color: #E6F2EF;

}.EditProfile button{
    background-color:#731A92;
    color: #41AE9F;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}.EditProfile .row .col-md-5 h4{
	color: #53107E;
	background-color: #E6F2EF;
	padding: 10px;
}.EditProfile  svg{
	margin-right: 10px;
}



/*ItemList*/
.ItemList{
	padding: 10px;
}
.ItemList h3{
	color: #53107E;
	background-color: #E6F2EF;
	padding:10px;
	align-items: center;
}.ItemList .row{
	background-color: #9FE3D1;
	padding:10px;
}.ItemList button{
	background-color: #53107E;
	color: #fff;
	border-radius: 100px;
	height: 40px;
	width: 170px;
	float: right;
}.ItemList input{
	background-color: #E6F2EF;
}.ItemList h3 svg{
	margin-right: 10px;
}


/*ListItems*/
.ListItems .row{
	padding: 10px;
	margin: 10px;
	background-color: #9FE3D1;
}.ListItems .OneItem{
	background-color: #19C7C7;
	margin-bottom: 10px;
	font-size: 18px;
}.ListItems .allItems{
	height: 280px;
	overflow-y: scroll;
	background-color: #9FE3D1;
	margin-left: 10px;
}.allItems a{
	color: #53107E;
}
.ListItems .rowHeader{
	background-color: #E6F2EF;
	color: #53107E;
	margin-bottom: 0;
	font-style: italic;
	font-size: 18px;
	font-weight: bold;
}

/*ChangePassWord Page*/
.ChangePass h3{
	padding: 10px;
	color: #53107E;
	background-color: #E6F2EF;
	margin:20px;
}
.ChangePass form{
	text-align-last: center;
	padding: 25px;
	color: #53107E;
	margin: 20px;
	font-size: 18px;
	font-weight: bold;
	background-color: #9FE3D1;


}.ChangePass form button{
	background-color: #731A92;
	color: #fff;
	width: 200px;
	border-radius: 100px;
}.modal h4{
	color: #62159D;
}.modal button{
	border-radius: 100px;
	background-color: #62159D;
	width: 100px;
}.modal .close{
	border:none;
	background-color: #fff;
	color: red;
	width: 50px;
	height: 50px;

}.modal {
	width: 100%;
}.modal .modal-dialog .modal-content{
	width: 750px;
}
/*PatientProfile page*/
.PatientProfile .row img{
	border-radius: 50%;
	height: 150px;
	width: 150px;
}.PatientProfile .addation button{
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #53107E;
}.PatientProfile .addation{
	padding-top: 10px;
	padding-bottom: 10px;

}.PatientProfile .addation .row{
	background-color:  #9FE3D1;
}.PatientProfile .addation h5{
    color: #53107E;
}.PatientProfile  .patientInfo button{
	width:100%;
	margin-bottom: 10px;

}.PatientProfile  .patientInfo .edit{
   background-color: #221DC4;
   color: #fff;
}.PatientProfile  .patientInfo .delete{
	background-color: #E60D0D;
	color: #fff;
}.PatientProfile  .patientInfo p{
	color: #53107E;
}

/*patientInfo*/
.patientInfo label{
	font-size: 18px;
	color:#53107E ;
	font-weight: bold;
}.patientInfo button{
	width: 100%;
	color: #fff;
	font-size: 18px;
}

.modal .modal-header .close{
	width: 50px;
	background-color: #fff;
	color: red;

}.PatientProfile .modal .row{
	background-color: #9FE3D1;
}.PatientProfile .modal button{
	width: 25%;
	float: right;
	margin-left: 10px;
}


/*Button Class */
.btn .fa-edit{
	color: blue;
	font-size: 24px;
}.btn .fa-trash-alt{
	color:red;
	font-size: 24px;

}

