
.MainPatient .row .patientInfo{
	padding: 20px;
	background-color: #BFF8EE;
	height: 100%;
}.MainPatient .row .infoCard{
	background-color: #82C4C4;
	padding: 10px;
}.MainPatient .row .infoCard img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}.MainPatient .row .infoCard p{
	color: #53107E;

}.MainPatient .row .infoCard .imgClass{
	text-align: center;
}.MainPatient .row .infoCard h4{
	color: #53107E;
}.MainPatient .row .col-md-3 h5{
	background-color: #95BBC8;
	color:#53107E;
	padding: 5px;
	margin-top: 10px; 
}.MainPatient .Upcoming{
	background-color: #E6F2EF;
	color: #53107E;
	text-align: center;
	padding: 5px;
	height: 100px;
	font-size: 18px;
}.MainPatient .mainRow{
	background-color: #3ACED8;
}.MainPatient .mainRow .col-md-9 h3{
	color:#53107E;
	background-color: #E0F2EF;
	padding: 10px; 
}.MainPatient .mainRow .col-md-9{
		padding: 20px;
}.MainPatient .media svg{
	width: 50px;
	height: 50px;
	opacity: 0.6;
}.MainPatient .media {
	background-color: #E6F2EF;
	color: #53107E;
	padding: 20px;
	border-radius: 100px;
	margin-bottom: 10px;
}.MainPatient .media h5{
	padding: 10px;
}.MainPatient .mainRow .col-md-9 .row{
	margin-bottom: 10px;
}.MainPatient .mainRow .col-md-9 button{
	background-color: #731A92;
	float: right;
	color: #6ACCBF;
	font-size: 18px;
	border-radius: 100px;
	padding: 10px;
	width: 150px;

}.MainPatient .modal .modal-content .close{
	background-color: #fff;
	font-size: 24px;
	float: right;
	color: red;
}.MainPatient .modal .modal-content .history{
	background-color: #E1E1E1;
	padding:20px;
	margin:20px;
}.MainPatient a{
    cursor: pointer;
}.MainPatient .media:hover{
	border:2px solid #731A92; 
}.row .col-md-4 #DentalChart .row .col-md-6{
	padding: 15px;
	
}.MainPatient .allDentist{
	background-color: #C3EBE8;
	padding:10px;
	height: 450px;
	overflow-y: scroll;
}.MainPatient .allDentist .OneItem{
	background-color: #fff;
	padding:5px;
	font-size: 18px;
	color: #53107E;
}.MainPatient .headerItem{
	background-color: #C3EBE8;
	margin-right: 1px;
	margin-left: 1px;
	padding:10px;
	color: #53107E;
	font-size: 18px;
	font-weight: bold;
}.MainPatient .allDentist .OneItem img{
	border-radius: 50%;
	width: 90px;
	height: 60px;
}.MainPatient .DentistProfile img{
	text-align: center;
	height: 100px;
	border-radius: 50%;
}.MainPatient .DentistProfile label{
	color:#53107E;
	font-size: 18px;
	font-weight: bold;;


}.MainPatient .DentistProfile input{
	color:#53107E; 
}.MainPatient .ShowPhoto nav .nav-link{
	font-size: 24px;
	margin-right: 10px;

}.MainPatient .ShowPhoto nav{
	padding:10px;
}.MainPatient .ShowPhoto .tab-content{
	text-align: center;
}.MainPatient .ShowPhoto .tab-content img{
	width: 100%;
	height: 250px;
	margin-top:10px;
	margin-bottom: 10px;
}.MainPatient .ShowPhoto .tab-content p{
	padding:20px;
	background-color: #E1E1E1;
	font-size: 18px;
}
