
/*ServicesPage*/
.servicesPage{
	padding:20px;
}
.servicesPage .servicesHeader h3{
	color: #9C59C8;
	font-style: italic;
	text-align: center;
}
.servicesPage .servicesHeader p{
	color: #927B2F;
	

}.servicesPage .col-md-3{
	background-color: #BFF8EE;
	margin: 5px;
	padding: 10px;
}.servicesPage .col-md-4{
	background-color: #BFF8EE;
	padding: 10px;
	margin: 5px;
}.servicesPage .col-md-4 p svg{
	margin-right: 2px;
}.servicesPage .row .titleSer{
	color: #2F5092;
	font-weight: bold;
}.servicesPage .row p{
	color: #8A9CBF;
}.servicesPage  img{
	width: 100%;
	height: 30px;
	opacity: 0.6;
}


/*AboutUs Page*/
.aboutUs{
	padding: 20px;
}
.aboutUs h1{
	text-align: center;
	color: #B2A236;
	font-style: italic;
	margin-bottom: 20px;
}.aboutUs p{
	color: #3927B8;
	font-style: italic;
	text-align: center;
	font-size: 24px;
}

/*ConectUs Page*/
.ConectUs .Field{
	background-color:#BFF8EE;
}.ConectUs h3{
	color: #7436B2;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}.ConectUs button{
	text-align: center;
	background-color:#7436B2;
	color: #fff;
	font-size: 20px;

}.ConectUs .textarea{
	height: 100px;
}



/*ForgetPass Page*/
.ForgetPass .modal-footer{
	text-align: center;
}.ForgetPass .modal-footer button{
	margin-right: 30px;
}.ForgetPass .modal-header button{
	background-color: #fff;
	color: red;
}