
/*Header*/
nav{
	background-color: #090667;
	width: 100%;
}nav ul li a{
	color: #6AE3D7;
	font-size: 18px;

}.navbar-nav > .active > a:active {
	color: #AE9841; /* <—– change your color here*/
	background-color: transparent;
}
.nav-item  a:focus,a:hover {
  color: #AE9841;
  font-weight: bold;
}
span.navbar-toggler-icon{
	color: #6AE3D7;
	font-size: 24px;
	display: block;
}nav button.btn{
	border-radius: 50px;
	color: #fff;
	background-color: #41AE8D;
	width: 90px;
	margin-right: 10px;

/*Main Image*/
}.mainImag img{
	width: 100%;
	height: 500px;
}.mainImag{
	background-color: #BFF8EE;

}.mainImag .row .SignInMain{
	background-color: #fff;
	margin-bottom: 40px;
	margin-top: 40px;
}

/*MainHeaderLogin*/
.mainHeader{
	text-align: center;
	margin-bottom: 40px;
	background-color: #9C59C8;


}.mainHeader .nav-link:focus{
	background-color: #fff;
}
.SignIn{
	color: #53D1B7;
	font-size: 24px;
	font-style: italic;

}.Signup{
	color: #53D1B7;
	font-size: 24px;
	font-style: italic;
	border-left: 2px solid #fff;

}

/*SignInNav*/
form h4{
	font-style: italic;
	color: #7A3CC1;
	margin-bottom: 40px;
	margin-left: 20px;
}
form .FormContent{
	text-align: center;
}
form  .icon{
	color: #53D1B7;	
	margin-top: 10px; 
}
form .Field{
	border: none;
	border-bottom: 1px solid #BCE0FD;
	color: #53D1B7;
	padding: 5px;
}form .FormContent button{
	background-color: #53D1B7;
	width: 180px;
	height: 35px;
	margin-bottom: 10px;

}form .FormContent p{
	color: #27798E;
	font-size: 14px;
}form .FormContent p a{
    color: #7A3CC1;
    font-weight: bold;
}.pFor{
	float: left;

}.formikSign .forPass{
	margin-left: 30%;
	color:#7A3CC1;
}.formikSign .forPass p{
	margin-right: 10px;
	color: #27798E;

}

/*SignUpNav*/
.SignUpNav p{
	color: #7A3CC1;
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
}.SignUpNav .Patient{
	font-size: 18px;
	font-weight: bold;
	color:#53D1B7; 
}.SignUpNav .nav-link{
	padding: 0;
}.SignUpNav .nav-link:focus{
	color: #AE9841;
	font-weight: bold;
}.SignUpNav .Dentist{
	border-left: 2px solid #7A3CC1;
	padding-left: 20px;
}.fullInput{
	background-color: #BCE0FD;
	margin-bottom: 10px;
	color: #7A3CC1;
	padding: 5px;
}.fullInput input{
	border: none;
	outline: none;
	background: none;
	width: 250px;
	padding: 5px;
	color: #111;
}.SignUpContent button{
	text-align: center;
	background-color: #9A45BE;
	height: 40px;
	width: 150px;
	color: #fff;
	border: none;

}.SignUpContent .btnPage{
	text-align: center;
}

/*SignUpDentist*/
.SingnUpDentist{
	height: 350px;
	overflow-y: scroll;
}.SingnUpDentist h5{
	color: #9C59C8;
	font-style: italic;
	font-weight: bold;
}

/*MainFooter*/
.MainFooter{
    background-color: #090667;
    margin: 0;
}
.MainFooter p{
	color: #fff;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.MainFooter img{
	width: 100%;
	height: 10px;
}.MainFooter .footerImg{
	position: relative;
	color: #fff;
}
.MainFooter #foot1{
	position: absolute;
	top: -25px;
	bottom: -20px;
	height: 60px;
	opacity: 0.6;
}
